  </div>
  
</div>


<footer class="page-footer mt-1">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">{{ title }}</h5>
				<p class="grey-text text-lighten-4">What do you want to search for on FT CraigsList?</p>
				<p class="grey-text text-lighten-4">This CraigsList Website Only for Los Angeles.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Recent Searches</h5>
				<ul>
          {% for sqs in searches %}
					  <li><a class="grey-text text-lighten-3" href="search/?search={{ sqs.search }}">{{ sqs.search }}</a></li>
          {% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© <script type="text/javascript">
				document.write(new Date().getFullYear());
			</script> | {{ title }}
			<a class="grey-text text-lighten-4 right" href="#!">Design by Materialize | Thanks Materialize.</a>
		</div>
	</div>
</footer>